/t02-www/victor/web.zip
/t02-www/victor/xhtml.zip
/t02-www/victor/xhtml/css.ppt
/t02-www/victor/xhtml/xhtml.ppt
**/temp/*
**/hoard/*
**/private/*
/t02-www/eclipse-project/WebContent/attic/*
/t02-www/eclipse-project/WebContent/seq/*.txt
**/.~lock*
